<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-buttons class="ion-justify-content-center">
        <ion-button>
          <ion-icon name="images-outline" size="large"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="flash-outline" size="large"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="camera-reverse-outline" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-image">
    <img src="assets/images/scan-logo-2.png" alt="Scanner illustration" />
  </div>

  <div class="bottom-button">
    <ion-button expand="full" (click)="scanImage()">Scanner un document</ion-button>
  </div>
  <ion-spinner *ngIf="isLoading" name="bubbles" style="color: #fff; width: 40px; height: 40px;"></ion-spinner>
</ion-content>