:host {
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/images/black2.avif');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
  }
}

ion-header {
  --background: transparent;
  --box-shadow: none;
  --border-color: transparent;
}

ion-toolbar {
  --background: transparent;
  --color: white; 
}

ion-title {
  color: white; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ion-back-button {
  color: white; 
}


ion-content{
  --background: transparent;
  padding-top: 0;
}

.image h2 {
  margin-top: 8px; 
  margin-bottom: 8px; 
  color: white; 
font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    color: white; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 27px;
    font-size: 14px;
}

ion-list{
     --background: transparent;
}

ion-item {
  --background: transparent;
  --ion-item-background: transparent; 
  --border-color: transparent;
}

ion-label{
    --font-family: Georgia, 'Times New Roman', Times, serif;
}